@use 'hero';
@use 'header';
@use 'variaveis';
@use 'temp';
@use 'faq';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: variaveis.$corDeFundo;
    background-image: url(../images/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.title--pqueno {
    @include title(32px);
}

.title {
    @include title;
}